<link rel="icon" href="/assets/favicon.ico">
<link rel="stylesheet" href="https://www.intrenion.com/assets/styles.css">

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}

  gtag('consent', 'default', {
    ad_storage: 'denied',
    ad_user_data: 'denied',
    ad_personalization: 'denied',
    analytics_storage: 'denied',
    functionality_storage: 'denied',
    personalization_storage: 'denied',
    security_storage: 'granted',
    wait_for_update: 2000
  });
</script>

<script id="cookieyes" type="text/javascript"
  src="https://cdn-cookieyes.com/client_data/84294392123942eb7fa1c16639234a59/script.js">
</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-91DNEZ5NX4"></script>
<script>
  gtag('js', new Date());
  gtag('config', 'G-91DNEZ5NX4');
</script>

<script defer src="https://www.intrenion.com/assets/script.js" data-footer="/assets/comments.html"></script>
